<h2>Manage Amenities</h2>
<%= link_to "New Amenity", new_amenity_path , class: "waves-effect waves-light btn" %>

<table class="responsive-table">
  <tr>
    <th>name</th>
    <th>description</th>
    <th>price</th>
    <th colspan="2"></th>
  </tr>
  <% Amenity.all.each do |amenity|  %>

  <tr>
    <td><%= link_to amenity.name, amenity_path(amenity) %></td>
    <td><%= amenity.description %></td>
    <td>$<%= amenity.price_change %></td>
    <td><%= link_to 'Edit', edit_amenity_path(amenity) , class: "waves-effect waves-light btn" %></td>
    <td><%= link_to 'Delete', amenity, method: :delete, data: {confirm: "Are you sure?"} , class: "waves-effect waves-light btn" %></td>
  </tr>
  <% end %>

</table>
