<% if @amenity.errors.any? %>
<ul class="errors">
  <% @amenity.errors.full_messages.each do |msg|  %>
  <li>
    <%= msg %>
  </li>
  <% end  %>
</ul>
<% end  %>
<%= form_for @amenity do |f| %>
<h2>New Amenity</h2>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br><br>
  <%= f.label :price %><br>
  $<%= f.text_field :price_in_cents %><br><br>
  <%= f.submit %>
<% end %>
