
<% if @user.errors.any? %>
<ul class="errors" style="margin-top:-150px">
  <% @user.errors.full_messages.each do |msg|  %>
  <li>
    <%= msg %>
  </li>
  <% end  %>
</ul>
<% end  %>

<%= form_for @user, html: {style: "margin-top:-150px"}  do |f| %>
<h2>Create Account</h2>
  First Name: <%= f.text_field :first_name %><br>
  Last Name: <%= f.text_field :last_name %><br>
  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Create Account" %>
<% end %>
