<h3>Performance Report</h3>
<%#= line_chart Event.joins(:rsvps).group(:event_id).count %>
<h5>Number of Guests/Event</h5>
<%= column_chart Event.joins(:rsvps).group(:name).count %>
<h5>Number of Events/Location</h5>
<%= pie_chart Location.joins(:events).group(:name).count %>
<%#= chartkick for tomorrow: https://www.chartkick.com/  %>
<table>
  <tr>
    <th>Event</th>
    <th>Amenities</th>
  </tr>
  <% grand_total = 0 %>
  <% Event.all.each do |event|  %>

  <tr>
    <td><h5><%= link_to event.name, event_path(event) %></h5></td>
    <td>
      <table>
        <% total = 0 %>
        <% event.amenities.each do |amenity| %>
        <tr>
          <td><%= link_to amenity.name, amenity_path(amenity) %></td>
          <td>$<%= amenity.price_change %></td>
        </tr>
        <% total += amenity.price_in_cents %>
        <% end %>
        <tr>
          <td colspan="2">
          <h5>Event Earnings: $<%= sprintf("%0.02f", total/100.00).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></h5>
          </td>
        </tr>

      </table>
    </td>
  </tr>
  <% grand_total += total %>
  <% end %>
<tr>
  <td colspan="2">
    <h4>Fiscal Year Earnings: $<%= sprintf("%0.02f", grand_total/100.00).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></h4>
  </td>
</tr>
</table>

<h4>Average # of Guests</h4>

<table>
  <tr>
    <th>Event</th>
    <th># of Guests</th>
  </tr>
    <% guest_total = 0 %>
    <% event_count = 0 %>
    <% Event.all.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= pluralize(event.guests.count, 'Guest') %></td>
  </tr>
  <% guest_total += event.guests.count %>
  <% event_count += 1 %>
  <% end %>
  <tr>
    <td colspan="2">
      <h5>Average: <%= pluralize((guest_total/event_count), "Guest") %></h5>
    </td>
  </tr>
</table>
