<h2>Manage Events</h2>
<button><%= link_to "New Event", new_event_path %></button>

<table>
  <tr>
    <th><%= params[:sort] != "name" ? (link_to 'name', sort: 'name') : "name"%></th>
    <th><%= params[:sort] != "location" ? (link_to 'location', sort: 'location') : "location"%></th>
    <th><%= params[:sort] != "host" ? (link_to 'host', sort: 'host') : "host"%></th>
    <th><%= params[:sort] != "guest" ? (link_to 'guest count', sort: 'guest') : "guest count"%></th>
    <th><%= params[:sort] != "amenity" ? (link_to 'amenity count', sort: 'amenity') : "amenity count"%></th>
    <th colspan="2"></th>
  </tr>
  <% @events.each do |event|  %>

  <tr>
    <td><%= link_to event.name, event_path(event) %></td>
    <td><%= event.location.name %></td>
    <td><%= event.host.first_name + " " + event.host.last_name%></td>
    <td><%= event.guests.count %></td>
    <td><%= event.amenities.count %></td>
    <td><button><%= link_to 'Edit', edit_event_path(event) %></button></td>
    <td><button><%= link_to 'Delete', event, method: :delete, data: {confirm: "Are you sure?"} %></button></td>
  </tr>
  <% end %>

</table>
