<h2>Events</h2>
  <h3><%= "#{@greeting}, #{current_user.first_name}." %></h3>
<button><%= link_to "New Event", new_event_path %></button>
<div>
<ul class="hosted">
  <% hosted_events = current_user.events.where(host_id: current_user.id).order(:date)  %>
  <% if hosted_events.none? %>
  <p><em>You haven't planned any events.<em></p>

  <% else %>
  <h4>Your Events</h4>
  <% hosted_events.each do |event| %>
  <li>

    <ul><h4><%= link_to event.name, event_path(event) %></h4>
      <li>Date: <%= event.date.strftime('%B %e, %Y') %></li>
      <li>Description: <%= event.description %></li>
      <li>Location: <%= event.location.name %></li>
      <li><%= pluralize(event.rsvps.select{|x|x.is_commited == true}.count, 'RSVP')%></li>
    </ul>
  </li>
  <% end  %>
  <% end %>

</ul>
<ul class="invited">
  <% invited_events = Event.all.order(:date).select{|x| x.guest_ids.include?(current_user.id) }  %>
  <% if invited_events.none? %>
  <p><em>You haven't been invited to any events.<em></p>

  <% else  %>
  <h4>You're Invited!</h4>
  <% invited_events.select{|x| x.guest_ids.include?(current_user.id) }.each do |event| %>
  <li>
    <ul>
      <h4><%= link_to event.name, event_path(event) %></h4>
        <li>Date: <%= event.date.strftime('%B %e, %Y') %></li>
      <li>Description: <%= event.description %></li>
      <li>Location: <%= event.location.name %></li>
      <li>Host: <%= event.host.fullname %></li>
    </ul>
  </li>
  <% end  %>
  <% end  %>

</ul>
</div>
