<h1>Events</h1>
<button><%= link_to "New Event", new_event_path %></button>
<ul>
  <% @events.each do |event| %>
  <li>

    <ul><h2><%= link_to event.name, event_path(event) %></h2>
      <li>Description: <%= event.description %></li>
      <li>Location: <%= event.location.name %></li>
      <li>Host: <%= event.host.fullname %></li>
    </ul>
  <% end  %>
  </li>

</ul>
