<ul><h2><%= @event.name %></h2>
  <li>Description: <%= @event.description %></li>
  <li>Location: <%= @event.location.name %></li>
  <li>Host: <%= @event.host.fullname %></li>
  <li>Guests: <%= @event.guests.pluck(:username).to_sentence %></li>
</ul>
