<h2>Manage Locations</h2>
<button><%= link_to "New Location", new_location_path %></button>
<table>
  <tr>
    <th>name</th>
    <th>description</th>
    <th>address</th>
    <th colspan="2"></th>
  </tr>
  <% Location.all.each do |location|  %>

  <tr>
    <td><%= link_to location.name, location_path(location) %></td>
    <td><%= location.description %></td>
    <td><%= location.address %></td>
    <td><button><%= link_to 'Edit', edit_location_path(location) %></button></td>
    <td><button><%= link_to 'Delete', location, method: :delete, data: {confirm: "Are you sure?"} %></button></td>
  </tr>
  <% end %>

</table>
