<h1>Locations</h1>
<button><%= link_to "New Location", new_location_path %></button>
<ul>
  <% @locations.each do |location| %>
  <li>
    <ul><h2><%= link_to location.name, location_path(location) %></h2>
      <li><%= location.description %></li>
      <li><%= location.address %></li>
      <li><%= pluralize(location.events.count, 'Event')%>:<%= location.events.pluck(:name).to_sentence %></li>
    </ul>
  <% end  %>
  </li>

</ul>
