<h1>New Location</h1>
<% if @location.errors.any? %>
<ul class="errors">
  <% @location.errors.full_messages.each do |msg|  %>
  <li>
    <%= msg %>
  </li>
  <% end  %>
</ul>
<% end  %>
<%= form_for @location do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>
  <%= f.label :description %><br>
  <%= f.text_area :description %><br><br>
  <%= f.label :address %><br>
  <%= f.text_area :address %><br><br>
  <%= f.submit %>
<% end %>
