<% if @location.errors.any? %>
<ul class="errors">
  <% @location.errors.full_messages.each do |msg|  %>
  <li>
    <%= msg %>
  </li>
  <% end  %>
</ul>
<% end  %>
<%= form_for @location do |f| %>
<h2>New Location</h2>
<div class="input-field">
  <%= f.text_field :name %>
  <%= f.label :name %>
</div>
  <div class="input-field">
  <%= f.text_area :description, class:"materialize-textarea" %>
  <%= f.label :description %>
</div>

  <div class="input-field">
  <%= f.text_area :address, class:"materialize-textarea" %>
  <%= f.label :address %>
</div>

  <%= f.submit value="Create Location", {class: "btn"} %>
<% end %>
