<!DOCTYPE html>
<html>
  <head>
    <title>EventPlanner</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" %>


  </head>

  <body>
      <!-- <div class="banner">
        <a href="/">Saturdaze</a>
      <div> -->
      <div class="navbar-fixed">
      <% if current_user %>

      <nav class="nav-extended">
        <a href="/" class="brand-logo" style="z-index: 1">Saturdaze</a>

         <div class="nav-wrapper">
           <% if current_user.email == "admin@gmail.com"  %>
              <ul class="right hide-on-med-and-down"  id="mobile-demo">
                <li><%= link_to 'Manage Events', '/manage/events' %></li>
                <li><%= link_to 'Manage Locations', '/manage/locations' %></li>
                <li><%= link_to 'Manage Amenities', '/manage/amenities' %></li>
                <li><%= link_to 'Users','/manage/users' %></li>
                <li><%= link_to 'Performance Report', sales_path %></li>
              </ul>


            <% end %>
          </div>
          <div class="nav-content">
            <ul class="tabs tabs-transparent hide-on-med-and-down"  id="mobile-demo">
              <li class="z-depth-1"><%= link_to 'Create Event', new_event_path %></li>
              <li class="z-depth-1"><%= link_to 'Browse Locations', locations_path %></li>
              <li class="z-depth-1"><%= link_to 'Browse Amenities', amenities_path %></li>
              <li class="z-depth-1"><%= link_to 'My Events', events_path %></li>
              <li class="z-depth-1"><a href="/logout" class="btn-large"> Logout</a></li>
            </ul>
          </div>
    </nav>
  </div>
  <% end %>

<section>
    <main>
      <article>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value.html_safe%></div>
    <% end %>
  </article>




    <%= yield %>

  </main>
</section>
  </body>
</html>
