<!DOCTYPE html>
<html>
  <head>
    <title>EventPlanner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    .admin_menu li{display:inline-block;width:15%}
    .user_menu li{display:inline-block;width:30%}
    </style>
  </head>

  <body>
    <ul class="admin_menu">
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Locations' %></li>
      <li><%= link_to 'Amenities'  %></li>
      <li><%= link_to 'Manage Users' %></li>
      <li><%= link_to 'Sales Report' %></li>
    </ul>
    <ul class="user_menu">
      <li><%= link_to 'Create Event', new_event_path %></li>
      <li><%= link_to 'Browse Events', events_path %></li>
      <li><%= link_to 'My Events' %></li>
    </ul>



    <%= yield %>

  </body>
</html>
